<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="./static/css/gui.css"/>
    <title>Veeam ONE</title>

  </head>
  <body>
    <div class="container-fluid h-100">
        <div class="row bg-veeam-light align-items-center">
          <div class="col-lg-1"></div>
            <div class="col-lg-8   rounded border border-light">
                <div class="m-4">
                    <h1 class="title">Veeam ONE<br>Database<br>Estimator</h1>
                </div>
                <div class="m-4">
This was created to give a basic storage understanding of what will be required to build a Veeam One Database. We claim no accuracy of the data output as this tool is an indicator only of what this could look like in production.<br><br>

There are many factors which can influence the sizing of Veeam One and this is a simplified combination.<br><br>

If your looking to build and implement a Veeam One Server contact your local System Engineer or Solutions Architect for some support and advice on your paritcular project. Visit <a href="https://veeam.com">Veeam.com</a> for more Veeam One information<br><br>

 
                </div>
                <form class="m-4">
                    <div class="form-group row">
                      <label for="idVM" class="col-sm-3 col-form-label">VM</label>
                      <div class="col-sm-3">
                        <input  class="form-control" id="idVM" value="1000" type="number">
                      </div>
                    </div>
                    <div class="form-group row">
                        <label for="idHost" class="col-sm-3 col-form-label">Hosts</label>
                        <div class="col-sm-3">
                          <input class="form-control" id="idHost" value="50" type="number">
                        </div>
                    </div>
                    <div class="form-group row" id="idHistoryDiv">
                      <label for="idHistory" class="col-sm-3 col-form-label">History in Months</label>
                      <div class="col-sm-3">
                        <input  class="form-control" id="idHistory" value="12" type="number">
                      </div>
                  </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                          <input type="checkbox" id="idAdvanced" >&nbsp;Let me specify advanced settings
                        </div>
                    </div>
                    <div class="float-right">
                      <input type="button"   class="btn btn-success mb-4" id="idBtnNext1" value="Calculate"></input>
                    </div>
                </form>
            </div>
            <div class="col-lg-1"></div>
        </div>
        <div class="row bg-veeam-light-1 align-items-center " style="display: none;"  id="idDivAdvanced"><!---->
            <div class="col-lg-1"></div>
            <div class="col-lg-10  rounded border border-light my-4">
                <div class="m-4">
                    <h1>Advanced Settings</h1>
                    <p>Assumptions that are made by default</p>
                </div>
                <form class="m-4" >
                    <div id="advancedParameters">

                      <div class="row m-0" >
                          <div class="col-xl-6" v-for="(advancedField, index) in advancedFields">
                            <div class="form-row mb-2">
                              <div class="col-xl-8">
                                <label v-bind:for="advancedField.id">{{advancedField.label}}</label>
                                <button v-if="advancedField.info" type="button" class="btn btn-light rounded-circle float-right" data-toggle="tooltip" data-placement="top" v-bind:title="advancedField.info">&nbsp;?&nbsp;</button>
                              </div>
                              <div class="col-xl-4"><input class="form-control" v-bind:id="advancedField.id" v-model="advancedField.valfield" type="number"></div>
                            </div>
                          </div>
                      </div>
                  
                      
                    </div>
                    <div class="float-right">
                      <input type="button" class="btn btn-success my-4" id="idBtnNext2" value="Calculate"></input>
                    </div>
                </form>
            </div>
            <div class="col-lg-1"></div>
        </div>
        <div class="row bg-veeam-light-2 align-items-center" style="display: none;" id="idDivResult">
              <div class="col-lg-1"></div>
              <div class="col-lg-4  rounded border border-light" id="dbresult">
                      <table class="table table-borderless">
                        <thead></thead>
                        <tbody>
                        <template v-for="(section,index) in sections">
                          <tr scope="row" class=""><th colspan="2"><h3>{{section.label}}</h3></th></tr>
                          <tr scope="row" class="border-top" v-for="(sub) in section.data.sub"><td>{{sub.label}}</td><td>{{sub.val}}</td></tr>
                          <tr scope="row" class="border-top total-attention" v-if="section.data.total" class="total-attention"><td>{{section.data.total.label}}</td><td>{{section.data.total.val}}</td></tr>
                          <tr scope="row" v-if="index != sections.length - 1"><td colspan="2">&nbsp;</td></tr>
                        </template>
                        <tr scope="row"><td colspan="2" class="text-right" ><a class="btn btn-success" download="veeam-one-size.txt" href='' id="dbdownload">Download</a></input></td></tr>
                        </tbody>
                      </table>
              </div>
              <!--<div class="col-lg-2"></div>
              <div class="col-lg-4  rounded border border-light">
                <div class="m-4">
                    <h1>Server setup</h1>
                    <p>The Result</p>
                </div>
              </div>-->
              <div class="col-lg-1"></div>
          </div>
        </div>
    </div>


    <div class="modal" id="modalerror" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Error</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" id="modalerrortext">
            <p>Error</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="./static/js/gui.js"></script>
</body>
</html>